@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

.card_body {
  margin: 0 auto 2rem;
  box-shadow: 0px 5px 15px rgb(243, 241, 241);
  width: 85%;

  background-color: #fff;
}

.hr {
  width: 100%;
  color: hsl(225, 21%, 93%);
  background-color: hsl(225, 33%, 95%);
  border: 1px solid;
}

.billing_section {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 4px;
  background-color: rgb(255, 255, 255);

  input[type='range'] {
    -webkit-appearance: none;
  }

  input[type='range']:focus {
    outline: none;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: hsl(174, 86%, 45%);

    border-radius: 50%;
  }

  input[type='range']::-moz-range-thumb {
    height: 25px;
    width: 25px;
    background-color: hsl(174, 86%, 45%);

    border-radius: 50%;
  }

  input[type='range']::-moz-range-progress {
    background-color: green;
    height: 25px;
  }

  ::-webkit-progress-value {
    background-color: orange;
  }
}
.billing_section_heading {
  font-family: manrope;
  color: hsl(225, 20%, 60%);
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.test {
  background-color: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 95%;
}
.test1 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 2;
  border-radius: 20px;
  background-color: hsl(174, 77%, 80%);
}
.billing_slider {
  background-color: transparent;
  width: 100%;
  height: 8px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  z-index: 4;
}
.billing_slider_price {
  color: hsl(225, 20%, 60%);
  display: flex;
  align-items: center;

  span {
    color: rgb(43, 43, 43);
    font-size: 2rem;
    font-weight: 800;
    margin: 0 5px;
    font-family: manrope;
  }
}
.billing_button {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -25%);
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
}

.billing_cycle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  p {
    font-size: 11px;
    font-family: manrope;
    color: hsl(225, 20%, 60%);
    font-weight: 600;
  }
}

.billing_cycle_selector {
  width: 14%;
  height: 22px;
  border-radius: 50px;
  background-color: hsl(223, 50%, 87%);
  display: flex;
  align-items: center;
  padding: 2px 4px;
}

.billing_cycle_selector_discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  width: 14%;
  height: 22px;
  border-radius: 50px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.billing_toggle_background {
  background-color: hsl(174, 86%, 45%);
}

.billing_cycle_selector_toggle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.signup_section {
  padding: 1rem 0.5rem;
  margin: 3px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.signup_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(225, 20%, 60%);

  h3 {
    font-size: 12px;
    margin: 0.4rem;
  }
}

.trial_btn_box {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .signup_btn {
    background-color: hsl(227, 35%, 25%);
    border: none;
    padding: 8px 25px;
    border-radius: 50px;
    color: hsl(224, 65%, 95%);

    &:hover {
      color: #fff;
      cursor: pointer;
      background-color: hsl(227, 35%, 30%);
    }
  }
}

@media (min-width: 500px) {
  .card_body {
    max-width: 80%;
  }

  .signup_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .billing_cycle {
    width: 65%;
  }
}

@media (min-width: 750px) {
  .card_body {
    max-width: 80%;
  }

  .signup_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  .billing_cycle {
    width: 65%;
  }
}

@media (min-width: 900px) {
  .card_body {
    max-width: 80%;
  }

  .signup_info {
    width: 50%;
  }

  .billing_cycle {
    width: 50%;
  }

  .billing_cycle_selector {
    width: 10%;
  }

  .billing_cycle_selector_discount {
    width: 10%;
  }
}
@media (min-width: 1088px) {
  .card_body {
    max-width: 55%;
  }
}
