@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

.card_body {
  margin: 0 auto;
  box-shadow: 5px 5px 15px rgb(224, 224, 224);
  padding: 1rem;
  width: 90%;
}

.billing_section {
  width: 95%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 2px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.billing_section_heading {
  font-family: manrope;
  color: hsl(225, 20%, 60%);
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 1px;
}

.billing_slider {
  background-color: #a5f3eb;
  width: 80%;
  height: 8px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
}
.billing_slider_price {
  color: hsl(225, 20%, 60%);
  display: flex;
  align-items: center;

  span {
    color: rgb(43, 43, 43);
    font-size: 2rem;
    font-weight: 800;
    margin: 0 5px;
    font-family: manrope;
  }
}
.billing_button {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -25%);
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
}

.billing_cycle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  p {
    font-size: 11px;
    font-family: manrope;
    color: hsl(225, 20%, 60%);
    font-weight: 600;
  }
}

.billing_cycle_selector {
  width: 14%;
  height: 22px;
  border-radius: 50px;
  background-color: hsl(223, 50%, 87%);
  display: flex;
  align-items: center;
  padding: 2px 4px;
}

.billing_cycle_selector_discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  width: 14%;
  height: 22px;
  border-radius: 50px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.billing_toggle_background {
  background-color: hsl(174, 86%, 45%);
}

.billing_cycle_selector_toggle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.signup_section {
  padding: 1rem;
  margin: 3px auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.signup_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(225, 20%, 60%);

  h3 {
    font-size: 12px;
    margin: 0.4rem;
  }
}

.trial_btn_box {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .signup_btn {
    background-color: hsl(227, 35%, 25%);
    border: none;
    padding: 8px 25px;
    border-radius: 50px;
    color: hsl(224, 65%, 95%);

    &:hover {
      color: #fff;
      cursor: pointer;
      background-color: hsl(227, 35%, 30%);
    }
  }
}
